* {
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #14cac4 !important;
  padding-top: 0;
}

h3 {
  margin: 30px;
}

.colorWhite {
  background-color: white;
}

header {
  background-color: whitesmoke;
}

button {
  margin-top: 15px;
  background-color: #f7f7f7; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.alinhar {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

ul {
  counter-reset: item;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
}

img {
  width: 70px;
}

.none {
  display: none;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 50px;
}
