* {
    font-family: 'Poppins', sans-serif;
}
header{
    background: black;
}

body {
    background-color: #000000;
}
#nome{
    margin:20px 0px;
    display: block;
    width: 100%;
}
ul {
    counter-reset: item;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}
#desabafo{
    margin:20px 0px;
    display: block;
    width: 100%;
    height: 15vh;
}
#dbf{
    margin: 30px 20px;
    float: left;
    display: inline;
    background-color: #14cac4;
    width:25%;
    height: 450px;
    padding: 40px 40px;
    border-radius: 20px;
    overflow: scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
#desabafos{
    width: 100%;
    height: 100%;
    display: block;
    margin: 20px 0px;
    padding: 20px 0px;
}
